
#titulo h1{
    font-size: 100px;
    text-align: center;
    color: khaki;
    height: 300px;
}
body{
    background-color: blueviolet;
}

#melancia1{
    width: 15px;
    position: absolute  ;
    top: 9px;
    left: 10px;
}


#melancia2{
    width: 15px;
    position: absolute;
    top: 9px;
    left: 70px;
}
.melancia{
    position: absolute;
    left: 30px;
    top: 395px;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

#valor{
    position: absolute;
    left: 110px;
    top: 317px;
}
.melancia img{
    position: absolute;
    top: -120px;
    width: 100px;
}

.navbar{
    height: 90px;
}

.header {
    background-color: darkorange;
    padding: 50px;
    text-align: center;
  }
.header h1{
    font-size: 50px;
}

.melancia h2{
    position: absolute  ;
    top: -90px;
    left: 140px;
}

.abacate img {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 100px;
}

#abacate1{
    width:15px;
    top: 10px;
    left: 5px;
}

#abacate2{
    width: 15px;
    top: 10px;
    left: 70px;
}

.abacate{
    position: absolute;
    left: 400px;
    top: 400px;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}
#totalaba{
    position: relative;
    top: -89px;
    left: 100px;
}
.abacate img{
    position: absolute;
    top: -115px;
    left: -10px;
}

#valorMelancia{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: -7px;
}

#valorAbacate{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: -7px;
}


#totalMostra{
    position: absolute;
    top: 600px;
    width: 200px;
}


#totalCompra{
    position: absolute;
    left: 900px;
}


#exit{
    position: absolute;
    left: 210px;
    top: 30px;
    width: 30px;
}

#exit:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#botaoTotal{
  position: absolute;
  top: 600px;
  left: 550px;
}


.price{
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    height: 40px;
    width: 70%;
    padding: 2px;
    float: left;
  }
  .item{
    padding: 20px;
    border: solid 2px #fdfeff;
    border-radius: 20px;
    
  }
  .adj{
    padding: 20px;
  }

#valormelancia{
  position:absolute;
  margin-top: -1px;
  margin-left: 86px;
  float: left;
  padding: 10px 10px 10px 10px;
  font-size: 1em;
  background-color: #ffffff52;
  border-radius: 10px;
}

#valorabacate{
    position: absolute;
    margin-top: -1px;
    margin-left: 86px;
    float: left;
    padding: 10px 10px 10px 10px;
    font-size: 1em;
    background-color: #ffffff52;
    border-radius: 10px;
  }
