.container{
    position: absolute;
    left:5%;
    top: 100px;
    border-radius: 100px;
}
.border{
    border-radius: 50px;
    color: black;
    height: 75%;
    color: black;
    background-color: white;
}
#titulo h1{
    font-size: 100px;
    text-align: center;
    color: khaki;
    height: 300px;
}
body{
    background-color: blueviolet;
}

#melancia1{
    width: 15px;
    position: absolute  ;
    top: 319px;
    left: 10px;
}


#melancia2{
    width: 15px;
    position: absolute;
    top: 319px;
    left: 70px;
}
.melancia{
    left: 30px;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

#valor{
    position: absolute;
    left: 110px;
    top: 317px;
}
.melancia img{
    position: absolute;
    top: 190px;
    width: 100px;
}

.melancia h2{
    position: absolute;
    top: 220px;
    left: 125px;
}

.abacate img {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 100px;
}

#abacate1{
    width:99px;
    top: 319px;
    left: 70px;
}

#abacate2{
    width: 59px;
    top: 319px;
    left: 70px;
}

.abacate{
    position: absolute;
    left: 90px;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}